<h1>{{name}} current
  temp: {{tempLast}}
  time: {{timeLast}} </h1>
<button (click)="refresh()">Refresh</button>
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
              [data]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<ng-template #processing>
  <img *ngIf="requestProcessing" src="assets/image/loading.gif">
</ng-template>



