<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" *ngIf="isAdmin"><a routerLink="/admin">Admin</a></li>
      <li routerLinkActive="active" *ngIf="isUser"><a routerLink="/user">User</a></li>
      <li routerLinkActive="active" *ngIf="!isUser"><a routerLink="/registration">Registration</a></li>
      <li routerLinkActive="active" *ngIf="!isUser"><a routerLink="/login">Login</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" *ngIf="isUser" data-toggle="dropdown">City Weather<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li routerLinkActive="active"><a routerLink="/chart">chart</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-right">
      <p class="navbar-text" *ngIf="isAdmin">You are admin!</p>
      <p class="navbar-text" *ngIf="isUser">You are user!</p>
      <button class="btn navbar-btn" *ngIf="isUser" (click)="logout()">Logout</button>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
